<%- include("_header") %>
<h1><%= title %></h1>
<form action="/hotel/feedbacks" method="POST" encType="multipart/form-data">
  <div class="form-group">
    <label for="file-input" class="form-label">File To Upload</label>
    <input type="file" name="fileName" id="file-input" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>
<%- include("_formerrors") %>
<hr />
<table
  class="table table-primary table-bordered table-sm table-striped"
  id="feedbacks-table">
  <head>
    <tr>
      <th scope="col">Checkin</th>
      <th scope="col">Checkout</th>
      <th scope="col">Room</th>
      <th scope="col">Score</th>
      <th scope="col">Cleaner</th>
      <th scope="col">CleanerS/O</th>
    </tr>
  </head>
  <body>
    <% feedbacks.forEach(feedback => { %>
    <tr>
      <td><%= feedback.checkin_date.toISOString().slice(0, 10) %></td>
      <td><%= feedback.checkout_date.toISOString().slice(0, 10) %></td>
      <td><%= feedback.room.number %></td>
      <td><%= feedback.score %></td>
      <td>
        <%- feedback.depart_cleaner ? feedback.depart_cleaner.name_id : '' %>
      </td>
      <td>
        <%- feedback.stayover_cleaner ? feedback.stayover_cleaner.name_id : ''
        %>
      </td>
    </tr>
    <% }) %>
  </body>
</table>
<%- include("_footer") %>
