<%- include("_header") %>
<h1><%= title %></h1>
<form action="/hotel/feedbacks" method="POST" encType="multipart/form-data">
  <div class="form-group">
    <label for="file-input" class="form-label">File To Upload</label>
    <input type="file" name="fileName" id="file-input" class="form-control" />
  </div>
  <div class="row">
    <div class="col-3">
      <button type="submit" class="btn btn-primary">Upload</button>
    </div>
    <div class="col-3">
      <a href="/hotel/results/depart/monthly/<%= date.toISOString().slice(0, 10) %>" class="btn btn-primary" id="analyse-anchor">Analyse</a>
    </div>
    <div class="col">
      <div class="row h-100 align-items-center justify-content-around">
        <div class="form-check">
          <input type="checkbox" class="form-check-input text-primary checkbox-color" id="yeartodate" />
          <label for="yeartodate" class="form-check-label">Year To Date</label>
        </div> 
        <div class="form-check">
          <input type="checkbox" class="form-check-input text-primary checkbox-color" id="stayover" />
          <label for="stayover" class="form-check-label">Stay Over</label>
        </div>
      </div>
    </div>
  </div>
</form>
<%- include("_formerrors") %>
<hr />
<table class="table table-primary table-bordered table-sm table-striped table-width-limited">

  <head>
    <tr>
      <th scope="col">Checkin</th>
      <th scope="col">Checkout</th>
      <th scope="col">Room</th>
      <th scope="col">Score</th>
      <th scope="col">Cleaner</th>
      <th scope="col">CleanerS/O</th>
    </tr>
  </head>

  <body>
    <% feedbacks.forEach(feedback => { %>
    <tr>
      <td><%= feedback.checkin_date.toISOString().slice(0, 10) %></td>
      <td><%= feedback.checkout_date.toISOString().slice(0, 10) %></td>
      <td><%= feedback.room.number %></td>
      <td><%= feedback.score %></td>
      <td>
        <%- feedback.depart_cleaner ? feedback.depart_cleaner.name_id : '' %>
      </td>
      <td>
        <%- feedback.stayover_cleaner ? feedback.stayover_cleaner.name_id : ''
        %>
      </td>
    </tr>
    <% }) %>
  </body>
</table>
<script src="/public/javascripts/feedbacks.js"></script>
<%- include("_footer") %>